html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
header {
  box-sizing: border-box;
  width: 100%;
}
.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  transition: min-height 0.3s;
}

.header__inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header__title {
  font-weight: 300;
  font-size: 3em;
  margin: 0.5em 0.25em;
  display: inline-block;
  color: #212121;
}
#map {
  height: 100%;
  left: 362px;
  position: relative;
}

.searchArea {
    position: relative;
    width: 300px;
}

.list {
    position: absolute;
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    line-height: 35px;
    padding: 10px 10px;
    text-align: left;
    width: 340px;
}

.list ul{
    list-style-type: none;
    display: inline;
    line-height: 1em;
    cursor: pointer;
}